/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width: 430px){
	.login-using{
		margin-top: 50px;
	}
}

@media (max-width: 430px){
	.login-using{
		width: 200px;
		/*top:40%;*/
	}
	.self-p{
		font-size: 17px

	}
	/*.service-it{
		flex-wrap: wrap;
	}*/
}

@media (max-width: 427px){
	.service-it{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.service-item{
		margin-top: 10px;
	}
	.team-1{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.team-2{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.image-wrapper{
		margin-top: 10px;
	}
}
@media (max-width: 320px){
	.login-using{
		width: 215px;
		margin-top: 100px;
	}
	.fonts-p{
		font-size: 40px;
	}
}
@media(max-width: 768px){
	.navigation{
		display: none;
	}
	.burger-icone{
		display: block;
		font-size: 20px;
		color: #fff;
	}
	.ber-ber{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.webb{
		margin-top: 10px;
	}
	.nav-hambyrger{
		display: block;
	}
	.right-header{
		margin-top: 0
	}
	
}
@media(max-width: 1008px){
	.blk-p{
		font-size: 35px;
	}
}
/*@media(max-width: 760px){
	.section-flex{
		flex-wrap: wrap;
	}
}*/

/*@media(max-width: 1040px){
	.ber{
		flex-wrap: wrap;
	}
}*/
@media(max-width: 950px){
	
	.leftb{
		width: 100%;
	}
	.rightb{
		width: 100%;
	}
	.section-flex{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.section-flex1{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
@media (max-width: 878px){
	.blue-scr{
		font-size: 25px;
	}
	.pre{
		margin-top: 10px;
	}
}

@media (max-width: 768px){
	.gr{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap; 
	}
}
@media (max-width: 950px){

}







